<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ULTRAMAVERICK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ULTRAMAVERICK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ULTRAMAVERICK.Properties.Settings.hr_bakConnectionString"
            connectionString="Data Source=10.10.2.6,1433\SQLEXPRESS;Initial Catalog=UltraMaverickDB;User Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;" />
        <add name="ULTRAMAVERICK.Properties.Settings.UltraMaverickDBConnectionString"
            connectionString="Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ULTRAMAVERICK.Properties.Settings>
            <setting name="fdg" serializeAs="String">
                <value>C:\MaverickReports</value>
            </setting>
        </ULTRAMAVERICK.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ULTRAMAVERICK.Properties.Settings>
            <setting name="rpt_path" serializeAs="String">
                <value>C:\MaverickReports</value>
            </setting>
            <setting name="hr_application_conn2" serializeAs="String">
                <value>Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;</value>
            </setting>
            <setting name="hr_application_conn" serializeAs="String">
                <value>Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;</value>
            </setting>
        </ULTRAMAVERICK.Properties.Settings>
    </applicationSettings>
</configuration>
